<!DOCTYPE html>
<html>
 
<head>
    <title>Welcome to OTX</title>
</head>
 
<body>
    <h1>Dashboard</h1>
    <h3>Hurray! you are logged in as <%= currentUser.EmployeeID.toUpperCase() %></h3>
    <h4><a href="/logout">Logout</a></h4>
</body>
 
</html>